*{
    margin: 0;
    padding: 0;
    }
    
    .cabecalho{
    background-color: #000000;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px;
    }

    .cabecalho-imagem{
        width: 10%;

    }

    .cabecalho-lita-item{
        display: inline-block;
        margin: 0 20px;
    }